exclude: '^(\.venv/|dist/|build/|node_modules/|\.mypy_cache/|\.pytest_cache/)'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace


  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        additional_dependencies:
        - pytest==9.0.0
        files: '^(app|worker|tests)/'
        args:
          - --python-version=3.11
          - --ignore-missing-imports
